/* Exhibitions */

table.exhibition {
    border: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

table.exhibition th {
    font-weight: bold;
    text-align: center;
    height: 30px;
    font-size: 20px;
}


table.exhibition td {
    width: 280px;
    min-width: fit-content;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    border-right: 1px solid #CCC;

}

table.exhibition td:last-child {
    border-right: 0;
}

table.exhibition div, table.exhibition div div, table.cf_table div, table.cf_table {
    border: 0;
}

table.exhibition table {
    border: 0;
}


table.exhibition canvas:hover {
    cursor: pointer;
    cursor: hand;
}

div.ng_widget, div.panel-heading, div.panel-body {
    border: 0;
    padding: 0;
}
